@charset "UTF-8";
.line3{
margin: 0 auto;
    background: #05366e;
margin-bottom: 10px;
    margin-top: 1px;
    width: 40px;
    height: 3px;
    /* border-radius: 2px; */
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    position: relative;
}
.mlogintxt {
	top: 16px;
	margin: 0 35px;
	color: white;
	font-size: 15px;
	font-family: dotum;
	font-weight: bold;
	position: absolute;
}
.mlogintxt >a{
	color: white;
	
}
.headerbtn {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 85px;
	top: 5px;
	z-index: 1;
	background-image:
		url(http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/menu.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media ( max-width : 992px) {
	.headerbtn {
		right: -28px;
	}
}

.header_tag {
	color: black;
}

.header_tag:hover {
	color: #23527c;
	text-decoration: underline;
}

.header-ul-inside {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-ul-inside>li {
	font-size: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	float: left;
	color: #23527c;
}

.col25 {
	/* width: 25%; */
	width: 33%;
	float: left;
}

.hidep {
	display: inline;
}

@media ( min-width : 768px) {
}

@media ( min-width : 992px) {
	.hidep {
		display: none;
	}
}

@media ( max-width : 768px) {
	.headerhide {
		width: 750px;
		display: none;
	}
	.titleheader {
		font-size: 15px;
	}
}

@media ( min-width : 992px) {
	.headerhide {
		width: 970px;
		display: block;
	}
	.titleheader {
		font-size: 20px;
		font-weight: 400;
		margin-top: 0px;
	}
}

@media ( min-width : 1200px) {
	.headerhide {
		width: 1150px;
		display: block;
	}
}

.header_top {
	display: none;
	z-index: 300;
	width: 70px;
	height: 9px;
	position: absolute;
	background-color: #05366e;
	left: 50%;
	transform: translateX(-50%);
}

.header_bottom {
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	background-color: white;
	height: 0px;
	border-bottom: 11px solid #05366e;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	display: none;
	z-index: 300;
}

html.open {
	overflow: hidden;
}

.btnside {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 11px;
	top: 25px;
	z-index: 1;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.close {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 5px;
	top: 1px;
	background-image:
		url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#menu {
	width: 371px;
	height: 100%;
	position: fixed;
	top: 0px;
	right: -373px;
	z-index: 301;
	background-color: #d4d4d4;
	text-align: center;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	max-height: 100%;
	overflow: auto;
}

#menu.open {
	right: 0px;
}

.page_cover.open {
	display: block;
}

.page_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 301;
	display: none;
}

.menuList>ul {
	list-style: none;
	list-style: none;
	-moz-padding-start: 0px;
	-webkit-padding-start: 0px;
	-khtml-padding-start: 0px;
	-o-padding-start: 0px;
	padding-start: 0px;
	padding: 0px;
}

.menuList li {
	width: 176px;
	height: 35px;
	border-bottom: 1px solid #f1f1f1;
	float: left;
	cursor: pointer;
}

.menuList ul>li>a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 11px;
	display: inline-block;
	text-indent: 16px;
	line-height: 37px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

.list_type1 {
	background-color: white;
	margin-top: 3px;
	text-align: left;
}

.txt {
	font-weight: 400;
	display: inline-block;
	font-size: 15px;
	color: black;
	margin: 16px 0 0 15px;
}

.icon {
	width: 15px;
	height: 17px;
	display: inline-block;
	background-position: -267px -13px;
	margin: 16px 18px 0 0;
	float: right;
	z-index: 0;
	overflow: hidden;
	text-indent: -100000em;
	background-image:
		url(http://static.inven.co.kr/image_2011/ibuilder/common/icon_mt_1.png?cache=17);
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-background-size: 387px 311px;
	-moz-background-size: 387px 311px;
	-o-background-size: 387px 311px;
	background-size: 387px 311px;
}

.hide {
	display: none;
}

.inlist>li>a {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 11px;
	display: inline-block;
	line-height: 37px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	cursor: pointer;
}

.inlist>li {
	text-align: center;
	width: 53px;
	background-color: #bbbbbb;
}

.inlist>li>a:hover {
	color: #05366e;
	text-decoration: none;
}

.inlist>li:hover {
	background-color: #bdc5ff;
}

.ftbold {
	font-weight: 900;
}