@charset "UTF-8";

.donaintro div{
	margin:15px;
	border: 1px solid #05366e;
	text-align: center;
}
.donaintro div h3{
font-size: 18px;
	color: #05366e;
}
a:hover, a:focus{
	    text-decoration: none;
}
.donaintro div:hover a h3{
	color: white;
}
.donaintro div:hover{
	background-color: #05366e;
}
.donaintro .active a h3{
	color: white;
}
.donaintro .active{
	background-color: #05366e;
}



.nav-stacked > li{
	
	
	border-bottom: 1px solid #c5c5c5;
	
}
.side-title-div {
	background-color: #05366e;
	padding: 15 0 15 10;
}

.side-title-div>h3 {
	color: white;
	margin: 0px;
}

.nav-stacked>li+li {
	margin-top: 0px;
}

.page-title {
	color: #05366e;
	    word-break: keep-all;
}

.introimg {
	margin: 0 auto;
    width: 65%;
    margin-bottom: 70px;
    margin-top: 70px;
}


/* .intro_pic {
	width: 40%;
	display: inline;
	vertical-align: text-bottom;
	float: right;
	padding-left: 20px;
} */

.intro-txt>p {
	margin-bottom: 5px;
}

.clear {
	clear: both;
}

.page-title {
	float: left;
}

.breadcrumb {
	float: right;
}

/* .intro-txt-name {
	position: absolute;
	bottom: 0px;
} */


@media ( max-width : 992px) {
	.intro-txt-name>h3 {
		font-size: 12px;
	}
	.intro-txt-name>h1 {
		font-size: 20px;
	}
	.main-container{
		padding : 10px;
	}
	.introimg {
    width: 90%;
	}
	.breadcrumb {
	float: left;
	font-size: 13px;
}
.page-title {
	float: left;
	font-size: 21px;
}

	
}